# Dependencies
node_modules/
*/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and sensitive data
.env.local
.env.*.local

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Deploy duplicate folder
ROCKETDRIVE_Hostinger_Deploy/
